html { 
    scroll-behavior: smooth;
    background-color: #28292A;
    font-family: 'Poppins';
    
}

.topnav {
    background-color: rgba(60, 64, 67, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; 
    display: flex; 
    align-items: center; /* Vertically centers items in the navbar */
    justify-content: center; /* Horizontally centers the links in the navbar */
}

.topnav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 0 16px; /* Adds horizontal spacing between links */
    display: flex; /* Makes the link a flex container */
    align-items: center; /* Vertically centers text inside the link */
    justify-content: center; /* Ensures text is horizontally centered within each link */
    height: 100%;
}

.fullscreen {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 {
    background-image: url('The_new_Solar_System.jpg');
}

.section2 {
    background-image: url('pluto.jpg');
}

.section3 {
    background-image: url('surface.jpg');
}

.overlay-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.overlay-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
    border-radius: 15px;
    color: white;
    position: absolute; 
    transform: translate(-50%, -50%);
    flex-direction: column;

}
.overlay-top {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    position: absolute; 
    transform: translate(-50%, -50%);
}


.overlay-middel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    position: absolute; 
    transform: translate(-50%, -50%);
}


.overlay-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    position: absolute; 
    transform: translate(-50%, -50%);
}

.overlay-text {
    top: 50%;
    left: 50%;
}

.overlay-top {
    top: 20%;
    left: 20%;
}

.overlay-middel {
    top: 50%;
    left: 50%;
}

.overlay-bottom {
    top: 80%;
    left: 50%;
}

p {
    font-size: 16px;
    padding: 
}